@import "tailwindcss";

@layer base {
  :root {
    /* Tailwind utilities usually map to these */
    @apply font-sans antialiased bg-[#242424];

    /* Specific properties that are best kept as raw CSS in the base layer */
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
}

#app {
  @apply max-w-7xl text-center p-8 my-0 mx-auto;
}

.logo {
  @apply h-64 mx-auto;
}

body {
  @apply flex place-items-center min-w-80 min-h-screen m-0;
}

h1 {
  @apply text-4xl font-bold;
}
